*.httr-oauth
*.xlsx
*.docx
*.pdf
*.sas7bdat
*.Rhistory
*.html
*.csv
*.mp4
*.nvp
*.svg
*.zip
*.htm
*.MP3
*.M4a
*.mp3
*.m4a
*.WMA
*.png
*.twb
*.ai
*.jpg
*.emf
*.xml
*.thmx
*.doc
*.twbr
*.db
*.log
*.gz
*.PPTX
*.xls
*.dta
*.RData
*.Rdata
*.pptx
*.jpeg
*.csv
*.rds
*.dta
*.RDa
*.Rda
*.dcf
*.rtf
*.lst
*.xml
*.html
.Rproj.user
